<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fans.mapper.CpontempMapper">
  <resultMap id="BaseResultMap" type="com.fans.pojo.Cpontemp">
    <id column="cponId" jdbcType="BIGINT" property="cponid" />
    <result column="cponType" jdbcType="VARCHAR" property="cpontype" />
    <result column="cponCode" jdbcType="VARCHAR" property="cponcode" />
    <result column="cponName" jdbcType="VARCHAR" property="cponname" />
    <result column="cponPrice" jdbcType="DOUBLE" property="cponprice" />
    <result column="prepNumCoupon" jdbcType="INTEGER" property="prepnumcoupon" />
    <result column="prepMoneyCoupon" jdbcType="DOUBLE" property="prepmoneycoupon" />
    <result column="realNumCoupon" jdbcType="INTEGER" property="realnumcoupon" />
    <result column="realMoneyCoupon" jdbcType="DOUBLE" property="realmoneycoupon" />
    <result column="validTimeStart" jdbcType="TIMESTAMP" property="validtimestart" />
    <result column="validTimeEnd" jdbcType="TIMESTAMP" property="validtimeend" />
    <result column="validCardNum" jdbcType="INTEGER" property="validcardnum" />
    <result column="unvalidCardNum" jdbcType="INTEGER" property="unvalidcardnum" />
    <result column="expiredCardNum" jdbcType="INTEGER" property="expiredcardnum" />
    <result column="hasCardkey" jdbcType="VARCHAR" property="hascardkey" />
    <result column="isValid" jdbcType="VARCHAR" property="isvalid" />
    <result column="activId" jdbcType="BIGINT" property="activid" />
    <result column="uploadId" jdbcType="BIGINT" property="uploadid" />
    <result column="couponId" jdbcType="BIGINT" property="couponid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cponId, cponType, cponCode, cponName, cponPrice, prepNumCoupon, prepMoneyCoupon, 
    realNumCoupon, realMoneyCoupon, validTimeStart, validTimeEnd, validCardNum, unvalidCardNum, 
    expiredCardNum, hasCardkey, isValid, activId, uploadId, couponId
  </sql>
  <select id="selectByExample" parameterType="com.fans.pojo.CpontempExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cpontemp
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cpontemp
    where cponId = #{cponid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cpontemp
    where cponId = #{cponid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.fans.pojo.CpontempExample">
    delete from cpontemp
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fans.pojo.Cpontemp">
    insert into cpontemp (cponId, cponType, cponCode, 
      cponName, cponPrice, prepNumCoupon, 
      prepMoneyCoupon, realNumCoupon, realMoneyCoupon, 
      validTimeStart, validTimeEnd, validCardNum, 
      unvalidCardNum, expiredCardNum, hasCardkey, 
      isValid, activId, uploadId, 
      couponId)
    values (#{cponid,jdbcType=BIGINT}, #{cpontype,jdbcType=VARCHAR}, #{cponcode,jdbcType=VARCHAR}, 
      #{cponname,jdbcType=VARCHAR}, #{cponprice,jdbcType=DOUBLE}, #{prepnumcoupon,jdbcType=INTEGER}, 
      #{prepmoneycoupon,jdbcType=DOUBLE}, #{realnumcoupon,jdbcType=INTEGER}, #{realmoneycoupon,jdbcType=DOUBLE}, 
      #{validtimestart,jdbcType=TIMESTAMP}, #{validtimeend,jdbcType=TIMESTAMP}, #{validcardnum,jdbcType=INTEGER}, 
      #{unvalidcardnum,jdbcType=INTEGER}, #{expiredcardnum,jdbcType=INTEGER}, #{hascardkey,jdbcType=VARCHAR}, 
      #{isvalid,jdbcType=VARCHAR}, #{activid,jdbcType=BIGINT}, #{uploadid,jdbcType=BIGINT}, 
      #{couponid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.fans.pojo.Cpontemp">
    insert into cpontemp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cponid != null">
        cponId,
      </if>
      <if test="cpontype != null">
        cponType,
      </if>
      <if test="cponcode != null">
        cponCode,
      </if>
      <if test="cponname != null">
        cponName,
      </if>
      <if test="cponprice != null">
        cponPrice,
      </if>
      <if test="prepnumcoupon != null">
        prepNumCoupon,
      </if>
      <if test="prepmoneycoupon != null">
        prepMoneyCoupon,
      </if>
      <if test="realnumcoupon != null">
        realNumCoupon,
      </if>
      <if test="realmoneycoupon != null">
        realMoneyCoupon,
      </if>
      <if test="validtimestart != null">
        validTimeStart,
      </if>
      <if test="validtimeend != null">
        validTimeEnd,
      </if>
      <if test="validcardnum != null">
        validCardNum,
      </if>
      <if test="unvalidcardnum != null">
        unvalidCardNum,
      </if>
      <if test="expiredcardnum != null">
        expiredCardNum,
      </if>
      <if test="hascardkey != null">
        hasCardkey,
      </if>
      <if test="isvalid != null">
        isValid,
      </if>
      <if test="activid != null">
        activId,
      </if>
      <if test="uploadid != null">
        uploadId,
      </if>
      <if test="couponid != null">
        couponId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cponid != null">
        #{cponid,jdbcType=BIGINT},
      </if>
      <if test="cpontype != null">
        #{cpontype,jdbcType=VARCHAR},
      </if>
      <if test="cponcode != null">
        #{cponcode,jdbcType=VARCHAR},
      </if>
      <if test="cponname != null">
        #{cponname,jdbcType=VARCHAR},
      </if>
      <if test="cponprice != null">
        #{cponprice,jdbcType=DOUBLE},
      </if>
      <if test="prepnumcoupon != null">
        #{prepnumcoupon,jdbcType=INTEGER},
      </if>
      <if test="prepmoneycoupon != null">
        #{prepmoneycoupon,jdbcType=DOUBLE},
      </if>
      <if test="realnumcoupon != null">
        #{realnumcoupon,jdbcType=INTEGER},
      </if>
      <if test="realmoneycoupon != null">
        #{realmoneycoupon,jdbcType=DOUBLE},
      </if>
      <if test="validtimestart != null">
        #{validtimestart,jdbcType=TIMESTAMP},
      </if>
      <if test="validtimeend != null">
        #{validtimeend,jdbcType=TIMESTAMP},
      </if>
      <if test="validcardnum != null">
        #{validcardnum,jdbcType=INTEGER},
      </if>
      <if test="unvalidcardnum != null">
        #{unvalidcardnum,jdbcType=INTEGER},
      </if>
      <if test="expiredcardnum != null">
        #{expiredcardnum,jdbcType=INTEGER},
      </if>
      <if test="hascardkey != null">
        #{hascardkey,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null">
        #{isvalid,jdbcType=VARCHAR},
      </if>
      <if test="activid != null">
        #{activid,jdbcType=BIGINT},
      </if>
      <if test="uploadid != null">
        #{uploadid,jdbcType=BIGINT},
      </if>
      <if test="couponid != null">
        #{couponid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fans.pojo.CpontempExample" resultType="java.lang.Long">
    select count(*) from cpontemp
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cpontemp
    <set>
      <if test="record.cponid != null">
        cponId = #{record.cponid,jdbcType=BIGINT},
      </if>
      <if test="record.cpontype != null">
        cponType = #{record.cpontype,jdbcType=VARCHAR},
      </if>
      <if test="record.cponcode != null">
        cponCode = #{record.cponcode,jdbcType=VARCHAR},
      </if>
      <if test="record.cponname != null">
        cponName = #{record.cponname,jdbcType=VARCHAR},
      </if>
      <if test="record.cponprice != null">
        cponPrice = #{record.cponprice,jdbcType=DOUBLE},
      </if>
      <if test="record.prepnumcoupon != null">
        prepNumCoupon = #{record.prepnumcoupon,jdbcType=INTEGER},
      </if>
      <if test="record.prepmoneycoupon != null">
        prepMoneyCoupon = #{record.prepmoneycoupon,jdbcType=DOUBLE},
      </if>
      <if test="record.realnumcoupon != null">
        realNumCoupon = #{record.realnumcoupon,jdbcType=INTEGER},
      </if>
      <if test="record.realmoneycoupon != null">
        realMoneyCoupon = #{record.realmoneycoupon,jdbcType=DOUBLE},
      </if>
      <if test="record.validtimestart != null">
        validTimeStart = #{record.validtimestart,jdbcType=TIMESTAMP},
      </if>
      <if test="record.validtimeend != null">
        validTimeEnd = #{record.validtimeend,jdbcType=TIMESTAMP},
      </if>
      <if test="record.validcardnum != null">
        validCardNum = #{record.validcardnum,jdbcType=INTEGER},
      </if>
      <if test="record.unvalidcardnum != null">
        unvalidCardNum = #{record.unvalidcardnum,jdbcType=INTEGER},
      </if>
      <if test="record.expiredcardnum != null">
        expiredCardNum = #{record.expiredcardnum,jdbcType=INTEGER},
      </if>
      <if test="record.hascardkey != null">
        hasCardkey = #{record.hascardkey,jdbcType=VARCHAR},
      </if>
      <if test="record.isvalid != null">
        isValid = #{record.isvalid,jdbcType=VARCHAR},
      </if>
      <if test="record.activid != null">
        activId = #{record.activid,jdbcType=BIGINT},
      </if>
      <if test="record.uploadid != null">
        uploadId = #{record.uploadid,jdbcType=BIGINT},
      </if>
      <if test="record.couponid != null">
        couponId = #{record.couponid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cpontemp
    set cponId = #{record.cponid,jdbcType=BIGINT},
      cponType = #{record.cpontype,jdbcType=VARCHAR},
      cponCode = #{record.cponcode,jdbcType=VARCHAR},
      cponName = #{record.cponname,jdbcType=VARCHAR},
      cponPrice = #{record.cponprice,jdbcType=DOUBLE},
      prepNumCoupon = #{record.prepnumcoupon,jdbcType=INTEGER},
      prepMoneyCoupon = #{record.prepmoneycoupon,jdbcType=DOUBLE},
      realNumCoupon = #{record.realnumcoupon,jdbcType=INTEGER},
      realMoneyCoupon = #{record.realmoneycoupon,jdbcType=DOUBLE},
      validTimeStart = #{record.validtimestart,jdbcType=TIMESTAMP},
      validTimeEnd = #{record.validtimeend,jdbcType=TIMESTAMP},
      validCardNum = #{record.validcardnum,jdbcType=INTEGER},
      unvalidCardNum = #{record.unvalidcardnum,jdbcType=INTEGER},
      expiredCardNum = #{record.expiredcardnum,jdbcType=INTEGER},
      hasCardkey = #{record.hascardkey,jdbcType=VARCHAR},
      isValid = #{record.isvalid,jdbcType=VARCHAR},
      activId = #{record.activid,jdbcType=BIGINT},
      uploadId = #{record.uploadid,jdbcType=BIGINT},
      couponId = #{record.couponid,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fans.pojo.Cpontemp">
    update cpontemp
    <set>
      <if test="cpontype != null">
        cponType = #{cpontype,jdbcType=VARCHAR},
      </if>
      <if test="cponcode != null">
        cponCode = #{cponcode,jdbcType=VARCHAR},
      </if>
      <if test="cponname != null">
        cponName = #{cponname,jdbcType=VARCHAR},
      </if>
      <if test="cponprice != null">
        cponPrice = #{cponprice,jdbcType=DOUBLE},
      </if>
      <if test="prepnumcoupon != null">
        prepNumCoupon = #{prepnumcoupon,jdbcType=INTEGER},
      </if>
      <if test="prepmoneycoupon != null">
        prepMoneyCoupon = #{prepmoneycoupon,jdbcType=DOUBLE},
      </if>
      <if test="realnumcoupon != null">
        realNumCoupon = #{realnumcoupon,jdbcType=INTEGER},
      </if>
      <if test="realmoneycoupon != null">
        realMoneyCoupon = #{realmoneycoupon,jdbcType=DOUBLE},
      </if>
      <if test="validtimestart != null">
        validTimeStart = #{validtimestart,jdbcType=TIMESTAMP},
      </if>
      <if test="validtimeend != null">
        validTimeEnd = #{validtimeend,jdbcType=TIMESTAMP},
      </if>
      <if test="validcardnum != null">
        validCardNum = #{validcardnum,jdbcType=INTEGER},
      </if>
      <if test="unvalidcardnum != null">
        unvalidCardNum = #{unvalidcardnum,jdbcType=INTEGER},
      </if>
      <if test="expiredcardnum != null">
        expiredCardNum = #{expiredcardnum,jdbcType=INTEGER},
      </if>
      <if test="hascardkey != null">
        hasCardkey = #{hascardkey,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null">
        isValid = #{isvalid,jdbcType=VARCHAR},
      </if>
      <if test="activid != null">
        activId = #{activid,jdbcType=BIGINT},
      </if>
      <if test="uploadid != null">
        uploadId = #{uploadid,jdbcType=BIGINT},
      </if>
      <if test="couponid != null">
        couponId = #{couponid,jdbcType=BIGINT},
      </if>
    </set>
    where cponId = #{cponid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fans.pojo.Cpontemp">
    update cpontemp
    set cponType = #{cpontype,jdbcType=VARCHAR},
      cponCode = #{cponcode,jdbcType=VARCHAR},
      cponName = #{cponname,jdbcType=VARCHAR},
      cponPrice = #{cponprice,jdbcType=DOUBLE},
      prepNumCoupon = #{prepnumcoupon,jdbcType=INTEGER},
      prepMoneyCoupon = #{prepmoneycoupon,jdbcType=DOUBLE},
      realNumCoupon = #{realnumcoupon,jdbcType=INTEGER},
      realMoneyCoupon = #{realmoneycoupon,jdbcType=DOUBLE},
      validTimeStart = #{validtimestart,jdbcType=TIMESTAMP},
      validTimeEnd = #{validtimeend,jdbcType=TIMESTAMP},
      validCardNum = #{validcardnum,jdbcType=INTEGER},
      unvalidCardNum = #{unvalidcardnum,jdbcType=INTEGER},
      expiredCardNum = #{expiredcardnum,jdbcType=INTEGER},
      hasCardkey = #{hascardkey,jdbcType=VARCHAR},
      isValid = #{isvalid,jdbcType=VARCHAR},
      activId = #{activid,jdbcType=BIGINT},
      uploadId = #{uploadid,jdbcType=BIGINT},
      couponId = #{couponid,jdbcType=BIGINT}
    where cponId = #{cponid,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.fans.pojo.Cpontemp">
    <id column="cponId" jdbcType="BIGINT" property="cponid" />
    <result column="cponType" jdbcType="VARCHAR" property="cpontype" />
    <result column="cponCode" jdbcType="VARCHAR" property="cponcode" />
    <result column="cponName" jdbcType="VARCHAR" property="cponname" />
    <result column="cponPrice" jdbcType="DOUBLE" property="cponprice" />
    <result column="prepNumCoupon" jdbcType="INTEGER" property="prepnumcoupon" />
    <result column="prepMoneyCoupon" jdbcType="DOUBLE" property="prepmoneycoupon" />
    <result column="realNumCoupon" jdbcType="INTEGER" property="realnumcoupon" />
    <result column="realMoneyCoupon" jdbcType="DOUBLE" property="realmoneycoupon" />
    <result column="validTimeStart" jdbcType="TIMESTAMP" property="validtimestart" />
    <result column="validTimeEnd" jdbcType="TIMESTAMP" property="validtimeend" />
    <result column="validCardNum" jdbcType="INTEGER" property="validcardnum" />
    <result column="unvalidCardNum" jdbcType="INTEGER" property="unvalidcardnum" />
    <result column="expiredCardNum" jdbcType="INTEGER" property="expiredcardnum" />
    <result column="hasCardkey" jdbcType="VARCHAR" property="hascardkey" />
    <result column="isValid" jdbcType="VARCHAR" property="isvalid" />
    <result column="activId" jdbcType="BIGINT" property="activid" />
    <result column="uploadId" jdbcType="BIGINT" property="uploadid" />
    <result column="couponId" jdbcType="BIGINT" property="couponid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cponId, cponType, cponCode, cponName, cponPrice, prepNumCoupon, prepMoneyCoupon, 
    realNumCoupon, realMoneyCoupon, validTimeStart, validTimeEnd, validCardNum, unvalidCardNum, 
    expiredCardNum, hasCardkey, isValid, activId, uploadId, couponId
  </sql>
  <select id="selectByExample" parameterType="com.fans.pojo.CpontempExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cpontemp
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cpontemp
    where cponId = #{cponid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cpontemp
    where cponId = #{cponid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.fans.pojo.CpontempExample">
    delete from cpontemp
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fans.pojo.Cpontemp">
    insert into cpontemp (cponId, cponType, cponCode, 
      cponName, cponPrice, prepNumCoupon, 
      prepMoneyCoupon, realNumCoupon, realMoneyCoupon, 
      validTimeStart, validTimeEnd, validCardNum, 
      unvalidCardNum, expiredCardNum, hasCardkey, 
      isValid, activId, uploadId, 
      couponId)
    values (#{cponid,jdbcType=BIGINT}, #{cpontype,jdbcType=VARCHAR}, #{cponcode,jdbcType=VARCHAR}, 
      #{cponname,jdbcType=VARCHAR}, #{cponprice,jdbcType=DOUBLE}, #{prepnumcoupon,jdbcType=INTEGER}, 
      #{prepmoneycoupon,jdbcType=DOUBLE}, #{realnumcoupon,jdbcType=INTEGER}, #{realmoneycoupon,jdbcType=DOUBLE}, 
      #{validtimestart,jdbcType=TIMESTAMP}, #{validtimeend,jdbcType=TIMESTAMP}, #{validcardnum,jdbcType=INTEGER}, 
      #{unvalidcardnum,jdbcType=INTEGER}, #{expiredcardnum,jdbcType=INTEGER}, #{hascardkey,jdbcType=VARCHAR}, 
      #{isvalid,jdbcType=VARCHAR}, #{activid,jdbcType=BIGINT}, #{uploadid,jdbcType=BIGINT}, 
      #{couponid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.fans.pojo.Cpontemp">
    insert into cpontemp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cponid != null">
        cponId,
      </if>
      <if test="cpontype != null">
        cponType,
      </if>
      <if test="cponcode != null">
        cponCode,
      </if>
      <if test="cponname != null">
        cponName,
      </if>
      <if test="cponprice != null">
        cponPrice,
      </if>
      <if test="prepnumcoupon != null">
        prepNumCoupon,
      </if>
      <if test="prepmoneycoupon != null">
        prepMoneyCoupon,
      </if>
      <if test="realnumcoupon != null">
        realNumCoupon,
      </if>
      <if test="realmoneycoupon != null">
        realMoneyCoupon,
      </if>
      <if test="validtimestart != null">
        validTimeStart,
      </if>
      <if test="validtimeend != null">
        validTimeEnd,
      </if>
      <if test="validcardnum != null">
        validCardNum,
      </if>
      <if test="unvalidcardnum != null">
        unvalidCardNum,
      </if>
      <if test="expiredcardnum != null">
        expiredCardNum,
      </if>
      <if test="hascardkey != null">
        hasCardkey,
      </if>
      <if test="isvalid != null">
        isValid,
      </if>
      <if test="activid != null">
        activId,
      </if>
      <if test="uploadid != null">
        uploadId,
      </if>
      <if test="couponid != null">
        couponId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cponid != null">
        #{cponid,jdbcType=BIGINT},
      </if>
      <if test="cpontype != null">
        #{cpontype,jdbcType=VARCHAR},
      </if>
      <if test="cponcode != null">
        #{cponcode,jdbcType=VARCHAR},
      </if>
      <if test="cponname != null">
        #{cponname,jdbcType=VARCHAR},
      </if>
      <if test="cponprice != null">
        #{cponprice,jdbcType=DOUBLE},
      </if>
      <if test="prepnumcoupon != null">
        #{prepnumcoupon,jdbcType=INTEGER},
      </if>
      <if test="prepmoneycoupon != null">
        #{prepmoneycoupon,jdbcType=DOUBLE},
      </if>
      <if test="realnumcoupon != null">
        #{realnumcoupon,jdbcType=INTEGER},
      </if>
      <if test="realmoneycoupon != null">
        #{realmoneycoupon,jdbcType=DOUBLE},
      </if>
      <if test="validtimestart != null">
        #{validtimestart,jdbcType=TIMESTAMP},
      </if>
      <if test="validtimeend != null">
        #{validtimeend,jdbcType=TIMESTAMP},
      </if>
      <if test="validcardnum != null">
        #{validcardnum,jdbcType=INTEGER},
      </if>
      <if test="unvalidcardnum != null">
        #{unvalidcardnum,jdbcType=INTEGER},
      </if>
      <if test="expiredcardnum != null">
        #{expiredcardnum,jdbcType=INTEGER},
      </if>
      <if test="hascardkey != null">
        #{hascardkey,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null">
        #{isvalid,jdbcType=VARCHAR},
      </if>
      <if test="activid != null">
        #{activid,jdbcType=BIGINT},
      </if>
      <if test="uploadid != null">
        #{uploadid,jdbcType=BIGINT},
      </if>
      <if test="couponid != null">
        #{couponid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fans.pojo.CpontempExample" resultType="java.lang.Long">
    select count(*) from cpontemp
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cpontemp
    <set>
      <if test="record.cponid != null">
        cponId = #{record.cponid,jdbcType=BIGINT},
      </if>
      <if test="record.cpontype != null">
        cponType = #{record.cpontype,jdbcType=VARCHAR},
      </if>
      <if test="record.cponcode != null">
        cponCode = #{record.cponcode,jdbcType=VARCHAR},
      </if>
      <if test="record.cponname != null">
        cponName = #{record.cponname,jdbcType=VARCHAR},
      </if>
      <if test="record.cponprice != null">
        cponPrice = #{record.cponprice,jdbcType=DOUBLE},
      </if>
      <if test="record.prepnumcoupon != null">
        prepNumCoupon = #{record.prepnumcoupon,jdbcType=INTEGER},
      </if>
      <if test="record.prepmoneycoupon != null">
        prepMoneyCoupon = #{record.prepmoneycoupon,jdbcType=DOUBLE},
      </if>
      <if test="record.realnumcoupon != null">
        realNumCoupon = #{record.realnumcoupon,jdbcType=INTEGER},
      </if>
      <if test="record.realmoneycoupon != null">
        realMoneyCoupon = #{record.realmoneycoupon,jdbcType=DOUBLE},
      </if>
      <if test="record.validtimestart != null">
        validTimeStart = #{record.validtimestart,jdbcType=TIMESTAMP},
      </if>
      <if test="record.validtimeend != null">
        validTimeEnd = #{record.validtimeend,jdbcType=TIMESTAMP},
      </if>
      <if test="record.validcardnum != null">
        validCardNum = #{record.validcardnum,jdbcType=INTEGER},
      </if>
      <if test="record.unvalidcardnum != null">
        unvalidCardNum = #{record.unvalidcardnum,jdbcType=INTEGER},
      </if>
      <if test="record.expiredcardnum != null">
        expiredCardNum = #{record.expiredcardnum,jdbcType=INTEGER},
      </if>
      <if test="record.hascardkey != null">
        hasCardkey = #{record.hascardkey,jdbcType=VARCHAR},
      </if>
      <if test="record.isvalid != null">
        isValid = #{record.isvalid,jdbcType=VARCHAR},
      </if>
      <if test="record.activid != null">
        activId = #{record.activid,jdbcType=BIGINT},
      </if>
      <if test="record.uploadid != null">
        uploadId = #{record.uploadid,jdbcType=BIGINT},
      </if>
      <if test="record.couponid != null">
        couponId = #{record.couponid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cpontemp
    set cponId = #{record.cponid,jdbcType=BIGINT},
      cponType = #{record.cpontype,jdbcType=VARCHAR},
      cponCode = #{record.cponcode,jdbcType=VARCHAR},
      cponName = #{record.cponname,jdbcType=VARCHAR},
      cponPrice = #{record.cponprice,jdbcType=DOUBLE},
      prepNumCoupon = #{record.prepnumcoupon,jdbcType=INTEGER},
      prepMoneyCoupon = #{record.prepmoneycoupon,jdbcType=DOUBLE},
      realNumCoupon = #{record.realnumcoupon,jdbcType=INTEGER},
      realMoneyCoupon = #{record.realmoneycoupon,jdbcType=DOUBLE},
      validTimeStart = #{record.validtimestart,jdbcType=TIMESTAMP},
      validTimeEnd = #{record.validtimeend,jdbcType=TIMESTAMP},
      validCardNum = #{record.validcardnum,jdbcType=INTEGER},
      unvalidCardNum = #{record.unvalidcardnum,jdbcType=INTEGER},
      expiredCardNum = #{record.expiredcardnum,jdbcType=INTEGER},
      hasCardkey = #{record.hascardkey,jdbcType=VARCHAR},
      isValid = #{record.isvalid,jdbcType=VARCHAR},
      activId = #{record.activid,jdbcType=BIGINT},
      uploadId = #{record.uploadid,jdbcType=BIGINT},
      couponId = #{record.couponid,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fans.pojo.Cpontemp">
    update cpontemp
    <set>
      <if test="cpontype != null">
        cponType = #{cpontype,jdbcType=VARCHAR},
      </if>
      <if test="cponcode != null">
        cponCode = #{cponcode,jdbcType=VARCHAR},
      </if>
      <if test="cponname != null">
        cponName = #{cponname,jdbcType=VARCHAR},
      </if>
      <if test="cponprice != null">
        cponPrice = #{cponprice,jdbcType=DOUBLE},
      </if>
      <if test="prepnumcoupon != null">
        prepNumCoupon = #{prepnumcoupon,jdbcType=INTEGER},
      </if>
      <if test="prepmoneycoupon != null">
        prepMoneyCoupon = #{prepmoneycoupon,jdbcType=DOUBLE},
      </if>
      <if test="realnumcoupon != null">
        realNumCoupon = #{realnumcoupon,jdbcType=INTEGER},
      </if>
      <if test="realmoneycoupon != null">
        realMoneyCoupon = #{realmoneycoupon,jdbcType=DOUBLE},
      </if>
      <if test="validtimestart != null">
        validTimeStart = #{validtimestart,jdbcType=TIMESTAMP},
      </if>
      <if test="validtimeend != null">
        validTimeEnd = #{validtimeend,jdbcType=TIMESTAMP},
      </if>
      <if test="validcardnum != null">
        validCardNum = #{validcardnum,jdbcType=INTEGER},
      </if>
      <if test="unvalidcardnum != null">
        unvalidCardNum = #{unvalidcardnum,jdbcType=INTEGER},
      </if>
      <if test="expiredcardnum != null">
        expiredCardNum = #{expiredcardnum,jdbcType=INTEGER},
      </if>
      <if test="hascardkey != null">
        hasCardkey = #{hascardkey,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null">
        isValid = #{isvalid,jdbcType=VARCHAR},
      </if>
      <if test="activid != null">
        activId = #{activid,jdbcType=BIGINT},
      </if>
      <if test="uploadid != null">
        uploadId = #{uploadid,jdbcType=BIGINT},
      </if>
      <if test="couponid != null">
        couponId = #{couponid,jdbcType=BIGINT},
      </if>
    </set>
    where cponId = #{cponid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fans.pojo.Cpontemp">
    update cpontemp
    set cponType = #{cpontype,jdbcType=VARCHAR},
      cponCode = #{cponcode,jdbcType=VARCHAR},
      cponName = #{cponname,jdbcType=VARCHAR},
      cponPrice = #{cponprice,jdbcType=DOUBLE},
      prepNumCoupon = #{prepnumcoupon,jdbcType=INTEGER},
      prepMoneyCoupon = #{prepmoneycoupon,jdbcType=DOUBLE},
      realNumCoupon = #{realnumcoupon,jdbcType=INTEGER},
      realMoneyCoupon = #{realmoneycoupon,jdbcType=DOUBLE},
      validTimeStart = #{validtimestart,jdbcType=TIMESTAMP},
      validTimeEnd = #{validtimeend,jdbcType=TIMESTAMP},
      validCardNum = #{validcardnum,jdbcType=INTEGER},
      unvalidCardNum = #{unvalidcardnum,jdbcType=INTEGER},
      expiredCardNum = #{expiredcardnum,jdbcType=INTEGER},
      hasCardkey = #{hascardkey,jdbcType=VARCHAR},
      isValid = #{isvalid,jdbcType=VARCHAR},
      activId = #{activid,jdbcType=BIGINT},
      uploadId = #{uploadid,jdbcType=BIGINT},
      couponId = #{couponid,jdbcType=BIGINT}
    where cponId = #{cponid,jdbcType=BIGINT}
  </update>
</mapper>