<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fans.mapper.OaStaffMapper">
  <resultMap id="BaseResultMap" type="com.fans.pojo.OaStaff">
    <id column="STAFF_ID" jdbcType="VARCHAR" property="staffId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="NAME_EN" jdbcType="VARCHAR" property="nameEn" />
    <result column="BIANMA" jdbcType="VARCHAR" property="bianma" />
    <result column="DEPARTMENT_ID" jdbcType="VARCHAR" property="departmentId" />
    <result column="FUNCTIONS" jdbcType="VARCHAR" property="functions" />
    <result column="TEL" jdbcType="VARCHAR" property="tel" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="BIRTHDAY" jdbcType="VARCHAR" property="birthday" />
    <result column="NATION" jdbcType="VARCHAR" property="nation" />
    <result column="JOBTYPE" jdbcType="VARCHAR" property="jobtype" />
    <result column="JOBJOINTIME" jdbcType="VARCHAR" property="jobjointime" />
    <result column="FADDRESS" jdbcType="VARCHAR" property="faddress" />
    <result column="POLITICAL" jdbcType="VARCHAR" property="political" />
    <result column="PJOINTIME" jdbcType="VARCHAR" property="pjointime" />
    <result column="SFID" jdbcType="VARCHAR" property="sfid" />
    <result column="MARITAL" jdbcType="VARCHAR" property="marital" />
    <result column="DJOINTIME" jdbcType="VARCHAR" property="djointime" />
    <result column="POST" jdbcType="VARCHAR" property="post" />
    <result column="POJOINTIME" jdbcType="VARCHAR" property="pojointime" />
    <result column="EDUCATION" jdbcType="VARCHAR" property="education" />
    <result column="SCHOOL" jdbcType="VARCHAR" property="school" />
    <result column="MAJOR" jdbcType="VARCHAR" property="major" />
    <result column="FTITLE" jdbcType="VARCHAR" property="ftitle" />
    <result column="CERTIFICATE" jdbcType="VARCHAR" property="certificate" />
    <result column="CONTRACTLENGTH" jdbcType="INTEGER" property="contractlength" />
    <result column="CSTARTTIME" jdbcType="VARCHAR" property="cstarttime" />
    <result column="CENDTIME" jdbcType="VARCHAR" property="cendtime" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="BZ" jdbcType="VARCHAR" property="bz" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    STAFF_ID, NAME, NAME_EN, BIANMA, DEPARTMENT_ID, FUNCTIONS, TEL, EMAIL, SEX, BIRTHDAY, 
    NATION, JOBTYPE, JOBJOINTIME, FADDRESS, POLITICAL, PJOINTIME, SFID, MARITAL, DJOINTIME, 
    POST, POJOINTIME, EDUCATION, SCHOOL, MAJOR, FTITLE, CERTIFICATE, CONTRACTLENGTH, 
    CSTARTTIME, CENDTIME, ADDRESS, USER_ID, BZ
  </sql>
  <select id="selectByExample" parameterType="com.fans.pojo.OaStaffExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from oa_staff
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oa_staff
    where STAFF_ID = #{staffId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from oa_staff
    where STAFF_ID = #{staffId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.fans.pojo.OaStaffExample">
    delete from oa_staff
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fans.pojo.OaStaff">
    insert into oa_staff (STAFF_ID, NAME, NAME_EN, 
      BIANMA, DEPARTMENT_ID, FUNCTIONS, 
      TEL, EMAIL, SEX, BIRTHDAY, 
      NATION, JOBTYPE, JOBJOINTIME, 
      FADDRESS, POLITICAL, PJOINTIME, 
      SFID, MARITAL, DJOINTIME, 
      POST, POJOINTIME, EDUCATION, 
      SCHOOL, MAJOR, FTITLE, 
      CERTIFICATE, CONTRACTLENGTH, CSTARTTIME, 
      CENDTIME, ADDRESS, USER_ID, 
      BZ)
    values (#{staffId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{nameEn,jdbcType=VARCHAR}, 
      #{bianma,jdbcType=VARCHAR}, #{departmentId,jdbcType=VARCHAR}, #{functions,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, 
      #{nation,jdbcType=VARCHAR}, #{jobtype,jdbcType=VARCHAR}, #{jobjointime,jdbcType=VARCHAR}, 
      #{faddress,jdbcType=VARCHAR}, #{political,jdbcType=VARCHAR}, #{pjointime,jdbcType=VARCHAR}, 
      #{sfid,jdbcType=VARCHAR}, #{marital,jdbcType=VARCHAR}, #{djointime,jdbcType=VARCHAR}, 
      #{post,jdbcType=VARCHAR}, #{pojointime,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, 
      #{school,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, #{ftitle,jdbcType=VARCHAR}, 
      #{certificate,jdbcType=VARCHAR}, #{contractlength,jdbcType=INTEGER}, #{cstarttime,jdbcType=VARCHAR}, 
      #{cendtime,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{bz,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fans.pojo.OaStaff">
    insert into oa_staff
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        STAFF_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="nameEn != null">
        NAME_EN,
      </if>
      <if test="bianma != null">
        BIANMA,
      </if>
      <if test="departmentId != null">
        DEPARTMENT_ID,
      </if>
      <if test="functions != null">
        FUNCTIONS,
      </if>
      <if test="tel != null">
        TEL,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="birthday != null">
        BIRTHDAY,
      </if>
      <if test="nation != null">
        NATION,
      </if>
      <if test="jobtype != null">
        JOBTYPE,
      </if>
      <if test="jobjointime != null">
        JOBJOINTIME,
      </if>
      <if test="faddress != null">
        FADDRESS,
      </if>
      <if test="political != null">
        POLITICAL,
      </if>
      <if test="pjointime != null">
        PJOINTIME,
      </if>
      <if test="sfid != null">
        SFID,
      </if>
      <if test="marital != null">
        MARITAL,
      </if>
      <if test="djointime != null">
        DJOINTIME,
      </if>
      <if test="post != null">
        POST,
      </if>
      <if test="pojointime != null">
        POJOINTIME,
      </if>
      <if test="education != null">
        EDUCATION,
      </if>
      <if test="school != null">
        SCHOOL,
      </if>
      <if test="major != null">
        MAJOR,
      </if>
      <if test="ftitle != null">
        FTITLE,
      </if>
      <if test="certificate != null">
        CERTIFICATE,
      </if>
      <if test="contractlength != null">
        CONTRACTLENGTH,
      </if>
      <if test="cstarttime != null">
        CSTARTTIME,
      </if>
      <if test="cendtime != null">
        CENDTIME,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="bz != null">
        BZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameEn != null">
        #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="bianma != null">
        #{bianma,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="functions != null">
        #{functions,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="jobtype != null">
        #{jobtype,jdbcType=VARCHAR},
      </if>
      <if test="jobjointime != null">
        #{jobjointime,jdbcType=VARCHAR},
      </if>
      <if test="faddress != null">
        #{faddress,jdbcType=VARCHAR},
      </if>
      <if test="political != null">
        #{political,jdbcType=VARCHAR},
      </if>
      <if test="pjointime != null">
        #{pjointime,jdbcType=VARCHAR},
      </if>
      <if test="sfid != null">
        #{sfid,jdbcType=VARCHAR},
      </if>
      <if test="marital != null">
        #{marital,jdbcType=VARCHAR},
      </if>
      <if test="djointime != null">
        #{djointime,jdbcType=VARCHAR},
      </if>
      <if test="post != null">
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="pojointime != null">
        #{pojointime,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="ftitle != null">
        #{ftitle,jdbcType=VARCHAR},
      </if>
      <if test="certificate != null">
        #{certificate,jdbcType=VARCHAR},
      </if>
      <if test="contractlength != null">
        #{contractlength,jdbcType=INTEGER},
      </if>
      <if test="cstarttime != null">
        #{cstarttime,jdbcType=VARCHAR},
      </if>
      <if test="cendtime != null">
        #{cendtime,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fans.pojo.OaStaffExample" resultType="java.lang.Long">
    select count(*) from oa_staff
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update oa_staff
    <set>
      <if test="record.staffId != null">
        STAFF_ID = #{record.staffId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.nameEn != null">
        NAME_EN = #{record.nameEn,jdbcType=VARCHAR},
      </if>
      <if test="record.bianma != null">
        BIANMA = #{record.bianma,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentId != null">
        DEPARTMENT_ID = #{record.departmentId,jdbcType=VARCHAR},
      </if>
      <if test="record.functions != null">
        FUNCTIONS = #{record.functions,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null">
        TEL = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        SEX = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null">
        BIRTHDAY = #{record.birthday,jdbcType=VARCHAR},
      </if>
      <if test="record.nation != null">
        NATION = #{record.nation,jdbcType=VARCHAR},
      </if>
      <if test="record.jobtype != null">
        JOBTYPE = #{record.jobtype,jdbcType=VARCHAR},
      </if>
      <if test="record.jobjointime != null">
        JOBJOINTIME = #{record.jobjointime,jdbcType=VARCHAR},
      </if>
      <if test="record.faddress != null">
        FADDRESS = #{record.faddress,jdbcType=VARCHAR},
      </if>
      <if test="record.political != null">
        POLITICAL = #{record.political,jdbcType=VARCHAR},
      </if>
      <if test="record.pjointime != null">
        PJOINTIME = #{record.pjointime,jdbcType=VARCHAR},
      </if>
      <if test="record.sfid != null">
        SFID = #{record.sfid,jdbcType=VARCHAR},
      </if>
      <if test="record.marital != null">
        MARITAL = #{record.marital,jdbcType=VARCHAR},
      </if>
      <if test="record.djointime != null">
        DJOINTIME = #{record.djointime,jdbcType=VARCHAR},
      </if>
      <if test="record.post != null">
        POST = #{record.post,jdbcType=VARCHAR},
      </if>
      <if test="record.pojointime != null">
        POJOINTIME = #{record.pojointime,jdbcType=VARCHAR},
      </if>
      <if test="record.education != null">
        EDUCATION = #{record.education,jdbcType=VARCHAR},
      </if>
      <if test="record.school != null">
        SCHOOL = #{record.school,jdbcType=VARCHAR},
      </if>
      <if test="record.major != null">
        MAJOR = #{record.major,jdbcType=VARCHAR},
      </if>
      <if test="record.ftitle != null">
        FTITLE = #{record.ftitle,jdbcType=VARCHAR},
      </if>
      <if test="record.certificate != null">
        CERTIFICATE = #{record.certificate,jdbcType=VARCHAR},
      </if>
      <if test="record.contractlength != null">
        CONTRACTLENGTH = #{record.contractlength,jdbcType=INTEGER},
      </if>
      <if test="record.cstarttime != null">
        CSTARTTIME = #{record.cstarttime,jdbcType=VARCHAR},
      </if>
      <if test="record.cendtime != null">
        CENDTIME = #{record.cendtime,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.bz != null">
        BZ = #{record.bz,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update oa_staff
    set STAFF_ID = #{record.staffId,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      NAME_EN = #{record.nameEn,jdbcType=VARCHAR},
      BIANMA = #{record.bianma,jdbcType=VARCHAR},
      DEPARTMENT_ID = #{record.departmentId,jdbcType=VARCHAR},
      FUNCTIONS = #{record.functions,jdbcType=VARCHAR},
      TEL = #{record.tel,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      SEX = #{record.sex,jdbcType=VARCHAR},
      BIRTHDAY = #{record.birthday,jdbcType=VARCHAR},
      NATION = #{record.nation,jdbcType=VARCHAR},
      JOBTYPE = #{record.jobtype,jdbcType=VARCHAR},
      JOBJOINTIME = #{record.jobjointime,jdbcType=VARCHAR},
      FADDRESS = #{record.faddress,jdbcType=VARCHAR},
      POLITICAL = #{record.political,jdbcType=VARCHAR},
      PJOINTIME = #{record.pjointime,jdbcType=VARCHAR},
      SFID = #{record.sfid,jdbcType=VARCHAR},
      MARITAL = #{record.marital,jdbcType=VARCHAR},
      DJOINTIME = #{record.djointime,jdbcType=VARCHAR},
      POST = #{record.post,jdbcType=VARCHAR},
      POJOINTIME = #{record.pojointime,jdbcType=VARCHAR},
      EDUCATION = #{record.education,jdbcType=VARCHAR},
      SCHOOL = #{record.school,jdbcType=VARCHAR},
      MAJOR = #{record.major,jdbcType=VARCHAR},
      FTITLE = #{record.ftitle,jdbcType=VARCHAR},
      CERTIFICATE = #{record.certificate,jdbcType=VARCHAR},
      CONTRACTLENGTH = #{record.contractlength,jdbcType=INTEGER},
      CSTARTTIME = #{record.cstarttime,jdbcType=VARCHAR},
      CENDTIME = #{record.cendtime,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      BZ = #{record.bz,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fans.pojo.OaStaff">
    update oa_staff
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameEn != null">
        NAME_EN = #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="bianma != null">
        BIANMA = #{bianma,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        DEPARTMENT_ID = #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="functions != null">
        FUNCTIONS = #{functions,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        TEL = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        BIRTHDAY = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        NATION = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="jobtype != null">
        JOBTYPE = #{jobtype,jdbcType=VARCHAR},
      </if>
      <if test="jobjointime != null">
        JOBJOINTIME = #{jobjointime,jdbcType=VARCHAR},
      </if>
      <if test="faddress != null">
        FADDRESS = #{faddress,jdbcType=VARCHAR},
      </if>
      <if test="political != null">
        POLITICAL = #{political,jdbcType=VARCHAR},
      </if>
      <if test="pjointime != null">
        PJOINTIME = #{pjointime,jdbcType=VARCHAR},
      </if>
      <if test="sfid != null">
        SFID = #{sfid,jdbcType=VARCHAR},
      </if>
      <if test="marital != null">
        MARITAL = #{marital,jdbcType=VARCHAR},
      </if>
      <if test="djointime != null">
        DJOINTIME = #{djointime,jdbcType=VARCHAR},
      </if>
      <if test="post != null">
        POST = #{post,jdbcType=VARCHAR},
      </if>
      <if test="pojointime != null">
        POJOINTIME = #{pojointime,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        EDUCATION = #{education,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        SCHOOL = #{school,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        MAJOR = #{major,jdbcType=VARCHAR},
      </if>
      <if test="ftitle != null">
        FTITLE = #{ftitle,jdbcType=VARCHAR},
      </if>
      <if test="certificate != null">
        CERTIFICATE = #{certificate,jdbcType=VARCHAR},
      </if>
      <if test="contractlength != null">
        CONTRACTLENGTH = #{contractlength,jdbcType=INTEGER},
      </if>
      <if test="cstarttime != null">
        CSTARTTIME = #{cstarttime,jdbcType=VARCHAR},
      </if>
      <if test="cendtime != null">
        CENDTIME = #{cendtime,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        BZ = #{bz,jdbcType=VARCHAR},
      </if>
    </set>
    where STAFF_ID = #{staffId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fans.pojo.OaStaff">
    update oa_staff
    set NAME = #{name,jdbcType=VARCHAR},
      NAME_EN = #{nameEn,jdbcType=VARCHAR},
      BIANMA = #{bianma,jdbcType=VARCHAR},
      DEPARTMENT_ID = #{departmentId,jdbcType=VARCHAR},
      FUNCTIONS = #{functions,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      BIRTHDAY = #{birthday,jdbcType=VARCHAR},
      NATION = #{nation,jdbcType=VARCHAR},
      JOBTYPE = #{jobtype,jdbcType=VARCHAR},
      JOBJOINTIME = #{jobjointime,jdbcType=VARCHAR},
      FADDRESS = #{faddress,jdbcType=VARCHAR},
      POLITICAL = #{political,jdbcType=VARCHAR},
      PJOINTIME = #{pjointime,jdbcType=VARCHAR},
      SFID = #{sfid,jdbcType=VARCHAR},
      MARITAL = #{marital,jdbcType=VARCHAR},
      DJOINTIME = #{djointime,jdbcType=VARCHAR},
      POST = #{post,jdbcType=VARCHAR},
      POJOINTIME = #{pojointime,jdbcType=VARCHAR},
      EDUCATION = #{education,jdbcType=VARCHAR},
      SCHOOL = #{school,jdbcType=VARCHAR},
      MAJOR = #{major,jdbcType=VARCHAR},
      FTITLE = #{ftitle,jdbcType=VARCHAR},
      CERTIFICATE = #{certificate,jdbcType=VARCHAR},
      CONTRACTLENGTH = #{contractlength,jdbcType=INTEGER},
      CSTARTTIME = #{cstarttime,jdbcType=VARCHAR},
      CENDTIME = #{cendtime,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      BZ = #{bz,jdbcType=VARCHAR}
    where STAFF_ID = #{staffId,jdbcType=VARCHAR}
  </update>
</mapper>